body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif; */
}

#root {
  /* align-items: center; */
  display: flex;
  height: 100vh;
}

img {
  max-width: -webkit-fill-available;
}